@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
.body{
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100%;
    z-index: 165;
   // overflow: hidden;
   // background: linear-gradient(45deg, rgba(2,0,15,1) 0%, rgba(40,0,104,1) 100%);
    perspective: 1000px;
    overflow: visible;
    background-image:url('3k.jpg');
    perspective: 1000;
    background-size: cover;
    background-position:  center ;
    background-attachment: fixed;

    h1{
        position: absolute;

        margin: 0;
        transition-property: all;
        transition-property: transform;
        transition: 0.6s !important;
        text-align: center;
        display: inline-block;
        color:  white !important;
        right: 50%;
        bottom: 50%;
        width: 100%;
        transform: translate(-50%, 10%);
        z-index: 5;
        font-size:clamp(2em,5vw,11em);
        text-transform: uppercase;
        font-family: 'Recursive', sans-serif;
                letter-spacing: 2px;
        transition: 0.2s;
       // transform: translate(-50%,-50%);

        font-weight: 990 !important;
        color: transparent;
        filter: brightness(1.1) contrast(2) drop-shadow(3px 4px 3px white) !important;

        span{
            color: transparent;
            margin: 0;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: yellow;
        }
    
    }
}
.onestart{
    position: absolute;
    left: 0%;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    border-radius: 999px;
    animation-name: startLeftToRight;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    transform:translateX(-100%);
    
}
/*.onestart:nth-child(n+0){
background-color: #f34960 !important;
filter:brightness(1.5) contrast(3)  drop-shadow(0 0 3px red) !important;
}*/
.onestart{
    background-color: #e7dedf !important;
filter: brightness(1.5) contrast(3) drop-shadow(0 0 3px white) !important;
}
/*
.onestart:nth-child(n+26){

}*/



@keyframes startLeftToRight{
    0%{
        display: block;
        opacity: 0;
        transform:rotateZ(-30deg) perspective(500px) scale(var(--r)) translateZ(-30px)  translate(0vw,0%)
    }
        30%{
            opacity: 1;

        }
    100%{
        
        transform:rotateZ(-30deg) perspective(500px) scale(var(--r))  translateZ(-30px)  translate(120vw,0%)
    }
    100%{
        display: none;
    }
}



