@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.body{

    

    background-image: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
        //background-image: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
    opacity: 0;
        height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
}
.showHome{
    opacity: 0.7;
}
.hideThisCom{
    opacity: 0;
    display: none;
}

.loadingLine{
    background-color: white;
    height: 2px;
    width: 600px;
    animation-name: load;
    animation-duration: 0.9s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes load{
    0%,50%{width: 600px;}
    100%{width: 0;}
}
.presentation{
    position: relative;
    perspective: 1000px;
    text-align: center;
    span{
      //  transition: transform .6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
        position: relative;
        animation-name: textanimation;
        animation-duration: 4s;
        font-size: 5em;
        letter-spacing: 1px;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        color:white ;
        opacity: 0;
        text-rendering: optimizeLegibility!important;
        -webkit-tap-highlight-color: rgba(0,0,0,.05);
        text-shadow: 2px 3px 0px rgba(150, 150, 150, 1);
        font-family: 'Poppins', sans-serif;
    }
    @keyframes textanimation {
        0%{opacity: 0}
        100%{opacity: 1;}
    }
}
.goin{
    //fcf8ea
    margin-top: 10px;
    display: none;
    position: relative;
    background-color: white;
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation-name: showBtn;
    animation-duration: 2s;
    animation-delay: 13s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    &:hover{
        span:nth-child(1){
            transform: scaleY(1);
        }
        span:nth-child(2){
            transform: scaleY(1);
        }
        span:nth-child(3){
            transform: scaleX(1);
        }
        span:nth-child(4){
            transform: scaleX(1);
        }
    }
    span:nth-child(1){
        position: absolute;
        background-color: black;
        height: 100%;
        width: 2px;
        top: 0;
        left: 0;
        transition:0.5s;
        transform: scaleY(0);
    }
    span:nth-child(2){
        position: absolute;
        background-color: black;
        height: 100%;
        width: 2px;
        top: 0;
        right: 0;
        transition:0.5s;
        transform: scaleY(0);
    }
    span:nth-child(3){
        position: absolute;
        background-color: black;
        height: 2px;
        width: 100%;   
        top: 0;
        transition:0.5s;
        transform: scaleX(0);

    }
    span:nth-child(4){
        position: absolute;
        background-color: black;
        height: 2px;
        width: 100%;  
        bottom: 0;
        transition:0.5s;
        transform: scaleX(0);
    }
    h1{
        z-index: 1561;
        margin: 0;
        cursor: pointer;
        font-size: 2em;
        -webkit-text-stroke: 1px black;
        pointer-events: none;

    }
}
@keyframes rotateLoad{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes showBtn{
    from{opacity:0;display: none;}
    to{opacity:1 ;display: block;}
}
/**********************/
.Mypics{
    overflow: visible;
    pointer-events: none;
    position: absolute;
    height: 95vh;
    width: 95vh;
    min-width: 600px;
    min-height: 600px;
    max-width: 900px;
    max-height: 900px;
    z-index: 156;

}
.audio{
    position: absolute;
    top: 0;
    
}